<!DOCTYPE html>
<html>
<head>
<title>定制课程结算记录列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("./include/commonCss.html")
<link href="${ctx.contextPath}/hplus/css/plugins/chosen/chosen.css"
	rel="stylesheet">
	<style>
		.form-group-item {
			position: relative;
		}
		.form-group-item > input{
			position: absolute;
			top: 4px;
			left: 25px;
		}
	</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInUp">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>定制课程薪资付款</h5>
							<div class="ibox-tools">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<!-- 	<div class="alert alert-success alert-dismissable">
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
								可双击订单所在行，可查看订单详情。
							</div> -->
							<form id="grid-search-form">
								<input type="hidden" id="settleStatus" name="settleStatus" value="2"/>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name">导师名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="realName" id="realName"
												placeholder="导师名称" class="input-large" maxlength="30">
										</div>
										<div class="profile-info-name">课程名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="lessonName" id="lessonName"
												placeholder="课程名称" class="input-large" maxlength="120">
										</div>
										<div class="profile-info-name">课时名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="className" id="className"
												placeholder="课时名称" class="input-large" maxlength="120">
										</div>
									</div>
									<div class="profile-info-row input-daterange">
										<div class="profile-info-name">付款状态：</div>
										<div class="profile-info-value form-group">
											<select class="input-large" name="payStatus"
												id="payStatus">
												<option value="1">未付款</option>
												<option value="2">已付款</option>
											</select>
										</div>
										<div class="profile-info-name">开始时间：</div>
										<div class="profile-info-value form-group form-group-item">
											<input type="text" name="beginTime" id="beginTime"
												placeholder="开始时间"
												class="input-large form-control date-icon"
												onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										</div>
										<div class="profile-info-name">结束时间：</div>
										<div class="profile-info-value form-group form-group-item">
											<input type="text" name="endTime" id="endTime"
												placeholder="结束时间"
												class="input-large form-control date-icon"
												onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										</div>
									</div>
								</div>
							</form>
							<div class="btn-group hidden-xs" id="tableEventsToolbar"
								role="group">
								<button type="button" onClick="addLessonImport()" title="结算记录导入"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
											    <use xlink:href="#icon-shenpi"></use>
											</svg>
								</button>
								<button type="button" id="grid-search-btn" title="搜索"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-reset-btn" title="重置"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-zhongzhi"></use>
									</svg>
								</button>
								<button type="button" id="grid-search-btn" title="结算记录导出"
									class="btn btn-outline btn-default" onClick="exportFile()">
									<i class="glyphicon glyphicon-download" aria-hidden="true"></i>
								</button>
							</div>
							<table id="customNoSettleTable" data-mobile-responsive="false">
								<thead>
									<tr>
										<th data-radio="true"></th>
										<th data-formatter="boostrapTableSortFormatter">序号</th>
										<th data-field="recordId" data-visible="false">记录ID</th>
										<th data-field="realName">导师姓名</th>
										<th data-field="loginAccount">导师账号</th>
										<th data-field="lessonId" data-visible="false">课程ID</th>
										<th data-field="lessonName">课程名称</th>
										<th data-field="classId" data-visible="false">课时ID</th>
										<th data-field="className">课时名称</th>
										<th data-field="settleDuration">结算时长(分钟)</th>
										<th data-field="settlePriceStr">结算单价(美元)</th>
										<th data-field="createTime" data-visible="false">创建时间</th>
										<th data-field="settleStatusStr">结算状态</th>
										<th data-field="payStatusStr">付款状态</th>
									</tr>
								</thead>
							</table>
							<div class="modal inmodal" id="batch-form-modal" role="dialog"
								aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button class="close" data-dismiss="modal" type="button">×</button>
											<h4 id="modalHeaderMsg" class="modal-title">结算记录模版导入</h4>
										</div>
										<div class="modal-body">
											<form id="batch-form-edit" class="form-horizontal">
												<input type="hidden" id="editLessonId" name="editLessonId" />
												<div class="profile-user-info profile-user-info-striped">
													<div class="profile-info-row">
														<div class="profile-info-name">模版导入：</div>
														<div class="profile-info-value form-group">
															<div style="width: 80%;">
																<input type="file" name="customSettleExcel" id="customSettleExcel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
															</div>
															<a id="lessonImportTemp" href="${ctx.contextPath}/template/customSettleTemplate.xlsx" target="_blank" style="float: right; font-size: large; margin-right: 30px; margin-top: -65px;"><span>模板下载</span></a>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary" onClick="batchFormSubmit();">提交</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal inmodal" id="batch-result-modal" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button class="close" data-dismiss="modal" type="button">×</button>
											<h4 id="modalHeaderMsg" class="modal-title">导入返回结果</h4>
										</div>
										<div class="modal-body" id="batch-result-div" style="overflow-y: scroll;height:300px;">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("./include/commonJs.html")
	<script src="${ctx.contextPath}/hplus/js/plugins/chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/js/ace/ace.min.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/js/ace/ace-elements.min.js"></script>
</body>
<script>
	$(function() {
		var dayDate = new Date();
		dayDate.setDate(dayDate.getDate() - 6);
		$("#beginTime").val(DateUtil.dateToStr("yyyy-MM-dd", dayDate));
		$("#endTime").val(DateUtil.dateToStr("yyyy-MM-dd", new Date()));

		poundageConfigPagin();

		$('.input-daterange').datepicker({
			todayBtn : "linked",
			endDate : new Date(),
			setDate : new Date(),
			clearBtn : true,
			autoclose : true
		});

		$('.chosen-select').chosen({
			allow_single_deselect : true
		});

		$(window).off('resize.chosen').on('resize.chosen', function() {
			$('.chosen-select').each(function() {
				var $this = $(this);
				$this.next().css({
					'width' : 207
				});
			})
		}).trigger('resize.chosen');
	});

	function poundageConfigPagin() {
		bingdUrserTableParams = jQuery.extend({}, boostrapTableParams); // 表单中的table参数
		// table分页参数配置
		boostrapTableParams.url = "${ctx.contextPath}/d-admin/customSettle/findPaging";
		$("#customNoSettleTable").bootstrapTable(boostrapTableParams);
		initGridSearch(); // 初始化grid搜索
	}

	// bootstrap-table分页查询时的参数封装
	function boostrapTableQueryParams(params) {
		if (isEmpty(params)) { // 点击搜索按钮时
			var options = $("#customNoSettleTable")
					.bootstrapTable('getOptions');
			$("#customNoSettleTable").bootstrapTable('refreshOptions', {
				pageNumber : 1,
				sortName : ""
			});
		} else { // 点击分页时
			return boostrapTableSearchParams("grid-search-form", params);
		}
	}

	function exportFile() {
		ajaxFormExport("grid-search-form",
				"${ctx.contextPath}/d-admin/customSettle/exportCustomSettle", true);	
	}
	
	// 导出提交
	function ajaxFormExport(formId, url, loadingStyle) {
		var $form = $("#" + formId);
		// 		$form.attr("async", false);
		$form.attr("action", url);
		$form.submit();
	}
	
	// 课程新增导入
	function addLessonImport() {
		// 初始化上传文件
		$("#batch-form-edit #editLessonId").val("");
		initExcelFileDropzone();
		$("#batch-form-modal").modal("show");
		$("#batch-form-modal .remove").click();
	}
	
	//初始化表格上传框
	function initExcelFileDropzone() {
		$("input[type=file]").ace_file_input({
			style : 'well',
			btn_choose : '请点击上传表格',
			btn_change : null,
			droppable : false,
			thumbnail : 'large',
			whitelist : 'xls|xlsx',
			allowExt : ['xls', 'xlsx'],
			before_remove : function() {
				return true;
			},
			preview_error : function(filename, error_code) {

			}
		}).on('change', function() {

		});
	};
	
	
	//批量文件表单提交
	var isBatchFormSubmit = false;
	function batchFormSubmit() {
		if (isBatchFormSubmit)
			return;
		var customSettleExcel = $("#customSettleExcel").val()
		if(isEmpty(customSettleExcel)){
			swal("请先上传文件","error");
			return;
		}
		if (!$('#batch-form-edit').valid())
			return;

		// 提交表单
		swal({
			title : "您确定要提交定制课程表单吗",
			text : "提交后也可编辑！",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "提交",
			closeOnConfirm : false
		}, function() {
			isBatchFormSubmit = true;
			$("#batch-form-modal #batch-form-edit").ajaxSubmit({
				url : "${ctx.contextPath}/d-admin/customSettle/importCustomSettle",
				async : false,
				timeout : 500000,
				type : "POST",
				dataType : "json",
				success : function(data) {
					if (data.success) {
						var result = data.result;
						var eDesc = "";
						for (var i = 0; i < result.length; i++) {
							eDesc += "<h4>" + result[i].errorMsg + "<h4>";
						}
						if(eDesc == null ||eDesc == undefined ||eDesc == ""){
							swal("提交表单成功！", "导入成功！请查看！", "success");
						}else{
							swal.close()
							$("#batch-result-div").html(eDesc);
							$("#batch-result-modal").modal("show");
						}
						$("#batch-form-modal").modal("hide");
						boostrapTableQueryParams(); // 刷新列表
					} else {
						alert("error");
						common_error(data.errDesc);
					}
				},
				complete : function() {
					isBatchFormSubmit = false;
				}
			});
		});
	}
	
</script>
</html>
