<!DOCTYPE html>
<html>
<head>
<title>导师行业薪资配置</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("./include/commonCss.html")
<link href="${ctx.contextPath}/hplus/css/plugins/chosen/chosen.css"
	rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInUp">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>导师行业薪资配置列表</h5>
							<div class="ibox-tools">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<!-- 	<div class="alert alert-success alert-dismissable">
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
								可双击订单所在行，可查看订单详情。
							</div> -->
							<form id="grid-search-form">
								<!-- 订单类型 -->
								<input type="hidden" id="orderType" name="orderType" />
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name">行业名称：</div>
										<div class="profile-info-value form-group">
											<select class="input-large" name="industryId" id="industryId">
												<option value="">====请选择====</option> #foreach($industry in
												$industryList)
												<option value="${industry.industryId}">${industry.industryName}
												</option> #end
											</select>
										</div>
										<div class="profile-info-name">状态：</div>
										<div class="profile-info-value form-group">
											<select id="status" name="status" class="input-large">
												<option value="">====请选择====</option>
												<option value="1">有效</option>
												<option value="2">无效</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<div class="btn-group hidden-xs" id="tableEventsToolbar"
								role="group">
								<button type="button" onClick="addInitForm()" title="添加"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="editInitForm()" title="编辑"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="deletePro(2)" title="删除"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-search-btn" title="搜索"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-reset-btn" title="重置"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-zhongzhi"></use>
									</svg>
								</button>
							</div>
							<table id="industrySalaryTable" data-mobile-responsive="false">
								<thead>
									<tr>
										<th data-radio="true"></th>
										<th data-formatter="boostrapTableSortFormatter">序号</th>
										<th data-field="configId" data-visible="false">配置ID</th>
										<th data-field="industryId">行业ID</th>
										<th data-field="industryName">行业名称</th>
										<th data-field="baseSalaryStr">基础薪资(美元)</th>
										<th data-field="createTime">创建时间</th>
										<th data-field="createOp" data-visible="false">创建人</th>
										<th data-field="modifyTime">修改时间</th>
										<th data-field="modifyOp" data-visible="false">修改人</th>
										<th data-field="statusStr">状态</th>
									</tr>
								</thead>
							</table>
							#parse("./sys/form/industrySalary_form.html")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("./include/commonJs.html")
	<script
		src="${ctx.contextPath}/hplus/js/plugins/chosen/chosen.jquery.min.js"></script>
</body>
<script>
	$(function() {
		poundageConfigPagin();
		judgeVerification();
	});

	function poundageConfigPagin() {
		bingdUrserTableParams = jQuery.extend({}, boostrapTableParams); // 表单中的table参数
		// table分页参数配置
		boostrapTableParams.url = "${ctx.contextPath}/d-admin/industrySalary/findPaging";
		$("#industrySalaryTable").bootstrapTable(boostrapTableParams);
		initGridSearch(); // 初始化grid搜索
	}

	// bootstrap-table分页查询时的参数封装
	function boostrapTableQueryParams(params) {
		if (isEmpty(params)) { // 点击搜索按钮时
			var options = $("#industrySalaryTable").bootstrapTable('getOptions');
			$("#industrySalaryTable").bootstrapTable('refreshOptions', {
				pageNumber : 1,
				sortName : ""
			});
		} else { // 点击分页时
			return boostrapTableSearchParams("grid-search-form", params);
		}
	}

	//点击新增按钮，初始化弹出页面
	function addInitForm() {
		$('.form-group').removeClass('has-error');
		$('span[class*=help-block]').remove();
		emptyDivInputValue('industrySalary-form-modal');
		$('#industrySalary-form-modal #modalHeaderMsg').text('新增导师行业薪资配置');
		$("#industrySalary-form-modal").modal("show");

	}

	//点击修改按钮，初始化弹出页面,将值传入页面
	function editInitForm() {
		var selections = $("#industrySalaryTable").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要编辑的配置！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个配置编辑！");
			return;
		}

		$('.form-group').removeClass('has-error');
		$('span[class*=help-block]').remove();
		emptyDivInputValue('industrySalary-form-modal');
		$('#industrySalary-form-modal #modalHeaderMsg').text('修改导师行业薪资配置');
		$("#industrySalary-form-modal").modal("show");

		var configId = selections[0].configId;
		$.ajax({
			type : "POST",
			url : "${ctx.contextPath}/d-admin/industrySalary/getIndustrySalary",
			data : "configId=" + configId,
			dataType : "json",
			success : function(data) {
				initParam(data, null, 'grid-thirdIpSearch-form');
			},
			complete : function() {
			}
		});
	}
	
	/**删除配置*/
	var isDeleteProSub = false;
	function deletePro(status) {
        var selections = $("#industrySalaryTable").bootstrapTable('getSelections');
        if (isEmpty(selections)) {
            common_error("请先选择要删除的配置！"); 
            return;
        }
        swal({
            title: "您确定要删除吗?",
            text: "删除后将无法显示，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
        	if (isDeleteProSub) return;
            isDeleteProSub = true;
            
            var configId = selections[0].configId;
            $.ajax({
                type:"POST",
                url:"${ctx.contextPath}/d-admin/industrySalary/delete",
                data:"configId=" + configId,
                dataType:"json",
                success:function(data){
                    if (data.success) {
                    	common_success("操作成功！");
    					boostrapTableQueryParams();
    				} else {
    					common_error(data.errDesc);
                    }
                },
                complete:function(){
                	isDeleteProSub = false;
                }
            });
            $(".cancel").click();
        });
    };
</script>
</html>
