<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="modal inmodal" id="imgUpload-modal" role="dialog"
	aria-hidden="false">
	<input type="hidden" name="lessonId" id="lessonId" />
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">×</button>
				<h4 class="modal-title">批量上传产品图片（尺寸：200*350）</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-success">
                    <div class="panel-heading">已上传成功的图片列表</div>
                    <div class="panel-body uploader">
                    	<ul class="filelist">
                    	</ul>
                    </div>
                </div>
				<div id="uploader" class="wu-example uploader">
				    <div class="queueList">
				        <div id="dndArea" class="placeholder">
				            <div id="filePicker" class="webuploader-container"><div class="webuploader-pick">点击选择图片</div><div id="rt_rt_1bam0f6ns11kr165l1v7g1poa1bqp1" style="position: absolute; top: 0px; left: 448px; width: 168px; height: 44px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></div>
				            <p>或将照片拖到这里，单次最多可选300张</p>
				        </div>
				    <ul class="filelist"></ul></div>
				    <div class="statusBar" style="display:none;">
				        <div class="progress" style="display: none;">
				            <span class="text">0%</span>
				            <span class="percentage" style="width: 0%;"></span>
				        </div><div class="info">共0张（0B），已上传0张</div>
				        <div class="btns">
				            <div id="filePicker2" class="webuploader-container"><div class="webuploader-pick">继续添加</div><div id="rt_rt_1bam0f6o21k7s481316tk71p9k6" style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></div><div class="uploadBtn state-pedding">开始上传</div>
				        </div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<script>

// 删除图片
var isDeleteImgSub = false;
function deleteImg(i) {
	/* if (isDeleteImgSub) return; */
	if (classStatus == 3) {
		common_error("已结束的课时不能删除课件");
		return;
	}
	
	swal({
		title : "您确定要删除图片吗?",
		text : "删除后，无法恢复，需要重新上传！",
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : "确定",
		cancelButtonText : "取消",
		closeOnConfirm : false
	}, function() {
		var lessonId = $("#imgUpload-modal #lessonId").val();
		var img = coursewarePic[i];
		
		isDeleteImgSub = true;
		$.ajax({
			type : "POST",
			url : "${ctx.contextPath}/d-admin/lesson/fileOnload/imgDelete",
			data : {lessonId : lessonId, img : img},
			dataType : "json",
			success : function(data) {
				if (data.success) {
					$("#img_li_" + i).remove();
	                swal("已成功删除!", "", "success");
	            } else {
	                swal("删除失败！", data.errDesc, "error");
	            }
			},
			complete : function() {
				isDeleteImgSub = false;
			}
		});
        $(".sa-button-container .cancel").click();
	});
}


// =============== webUploader ========================================
var uploader = null;
var initWebUploader = function () {
	var $ = jQuery,    // just in case. Make sure it's not an other libaray.
        img_wrap = $('#uploader'),

        // 图片容器
        $queue = $('<ul class="filelist"></ul>')
            .appendTo( img_wrap.find('.queueList') ),

        // 状态栏，包括进度和控制按钮
        $statusBar = img_wrap.find('.statusBar'),

        // 文件总体选择信息。
        img_info = $statusBar.find('.info'),

        // 上传按钮
        img_upload = img_wrap.find('.uploadBtn'),

        // 没选择文件之前的内容。
        $placeHolder = img_wrap.find('.placeholder'),

        // 总体进度条
        $progress = $statusBar.find('.progress').hide(),

        // 添加的文件数量
        fileCount = 0,

        // 添加的文件总大小
        fileSize = 0,

        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 110 * ratio,
        thumbnailHeight = 110 * ratio,

        // 可能有pedding, ready, uploading, confirm, done.
        state = 'pedding',

        // 所有文件的进度信息，key为file id
        percentages = {},

        supportTransition = (function(){
            var s = document.createElement('p').style,
                r = 'transition' in s ||
                      'WebkitTransition' in s ||
                      'MozTransition' in s ||
                      'msTransition' in s ||
                      'OTransition' in s;
            s = null;
            return r;
        })();

    if ( !WebUploader.Uploader.support() ) {
        swal( 'Web Uploader 不支持您的浏览器！如果你使用的是IE浏览器，请尝试升级 flash 播放器');
        throw new Error( 'WebUploader does not support the browser you are using.' );
    }

    // 实例化
    uploader = WebUploader.create({
        pick: {
            id: '#filePicker',
            label: '点击选择图片'
        },
        dnd: '#uploader .queueList',
        paste: document.body,
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        // swf文件路径
        swf: '${ctx.contextPath}/js/webupload/Uploader.swf',
        disableGlobalDnd: true,
        chunked: true,
        server: '${ctx.contextPath}/d-admin/lesson/fileOnload/imgUpload',
        fileNumLimit: 300,
        fileSizeLimit: 10 * 1024 * 1024,    // 10 M
        fileSingleSizeLimit: 1 * 1024 * 1024    // 1 M
    });
    // 添加“添加文件”的按钮，
    uploader.addButton({
        id: '#filePicker2',
        label: '继续添加'
    });

    // 当有文件添加进来时执行，负责view的创建
    function addFile( file ) {
        var img_li = $( '<li id="' + file.id + '">' +
                '<p class="title">' + file.name + '</p>' +
                '<p class="imgWrap"></p>'+
                '<p class="progress"><span></span></p>' +
                '</li>' ),

           img_btns = $('<div class="file-panel">' +
               '<span class="cancel">删除</span>' +
               '<span class="rotateRight">向右旋转</span>' +
               '<span class="rotateLeft">向左旋转</span></div>').appendTo( img_li ),
           $prgress = img_li.find('p.progress span'),
           img_wrap = img_li.find( 'p.imgWrap' ),
           img_info = $('<p class="error"></p>'),

           showError = function( code ) {
               switch( code ) {
                   case 'exceed_size':
                       text = '文件大小超出';
                       break;

                   case 'interrupt':
                       text = '上传暂停';
                       break;

                   default:
                       text = '上传失败，请重试';
                       break;
               }

               img_info.text( text ).appendTo( img_li );
           };

        if ( file.getStatus() === 'invalid' ) {
            showError( file.statusText );
        } else {
            // @todo lazyload
            img_wrap.text( '预览中' );
            uploader.makeThumb( file, function( error, src ) {
            	var width = file._info.width;
            	var height = file._info.height;
            	/* if (width % 200 != 0) {
            		common_error( '宽度不是200的倍数' );
            		uploader.removeFile(file);
            		return;
            	} else if (height % 350 != 0) {
            		common_error( '高度不是350的倍数' );
            		uploader.removeFile(file);
            		return;
            	} else  */
            	if ( error ) {
                    img_wrap.text( '不能预览' );
                    return;
                }

                var img = $('<img src="'+src+'">');
                img_wrap.empty().append( img );
            }, thumbnailWidth, thumbnailHeight );

            percentages[ file.id ] = [ file.size, 0 ];
            file.rotation = 0;
        }

        file.on('statuschange', function( cur, prev ) {
            if ( prev === 'progress' ) {
                $prgress.hide().width(0);
            } else if ( prev === 'queued' ) {
                img_li.off( 'mouseenter mouseleave' );
                img_btns.remove();
            }

            // 成功
            if ( cur === 'error' || cur === 'invalid' ) {
                showError( file.statusText );
                percentages[ file.id ][ 1 ] = 1;
            } else if ( cur === 'interrupt' ) {
                showError( 'interrupt' );
            } else if ( cur === 'queued' ) {
                percentages[ file.id ][ 1 ] = 0;
            } else if ( cur === 'progress' ) {
                img_info.remove();
                $prgress.css('display', 'block');
            } else if ( cur === 'complete' ) {
                img_li.append( '<span class="success"></span>' );
            }

            img_li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );
        });

        img_li.on( 'mouseenter', function() {
            img_btns.stop().animate({height: 30});
        });

        img_li.on( 'mouseleave', function() {
            img_btns.stop().animate({height: 0});
        });

        img_btns.on( 'click', 'span', function() {
            var index = $(this).index(),
                deg;

            switch ( index ) {
                case 0:
                    uploader.removeFile( file );
                    return;

                case 1:
                    file.rotation += 90;
                    break;

                case 2:
                    file.rotation -= 90;
                    break;
            }

            if ( supportTransition ) {
                deg = 'rotate(' + file.rotation + 'deg)';
                img_wrap.css({
                    '-webkit-transform': deg,
                    '-mos-transform': deg,
                    '-o-transform': deg,
                    'transform': deg
                });
            } else {
                img_wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
            }


        });

        img_li.appendTo( $queue );
    }

    // 负责view的销毁
    function removeFile( file ) {
        var img_li = $('#'+file.id);

        delete percentages[ file.id ];
        updateTotalProgress();
        img_li.off().find('.file-panel').off().end().remove();
    }

    function updateTotalProgress() {
        var loaded = 0,
            total = 0,
            spans = $progress.children(),
            percent;

        $.each( percentages, function( k, v ) {
            total += v[ 0 ];
            loaded += v[ 0 ] * v[ 1 ];
        } );

        percent = total ? loaded / total : 0;

        spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );
        spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );
        updateStatus();
    }

    function updateStatus() {
        var text = '', stats;

        if ( state === 'ready' ) {
            text = '选中' + fileCount + '张图片，共' +
                    WebUploader.formatSize( fileSize ) + '。';
        } else if ( state === 'confirm' ) {
            stats = uploader.getStats();
            if ( stats.uploadFailNum ) {
                text = '已成功上传' + stats.successNum+ '张照片，'+
                    stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片。'
            }

        } else {
            stats = uploader.getStats();
            text = '共' + fileCount + '张（' +
                    WebUploader.formatSize( fileSize )  +
                    '），已上传' + stats.successNum + '张';

            if ( stats.uploadFailNum ) {
                text += '，失败' + stats.uploadFailNum + '张';
            }
        }

        img_info.html( text );
    }

    function setState( val ) {
        var file, stats;

        if ( val === state ) {
            return;
        }

        img_upload.removeClass( 'state-' + state );
        img_upload.addClass( 'state-' + val );
        state = val;

        switch ( state ) {
            case 'pedding':
                $placeHolder.removeClass( 'element-invisible' );
                $queue.parent().removeClass('filled');
                $queue.hide();
                $statusBar.addClass( 'element-invisible' );
                uploader.refresh();
                break;

            case 'ready':
                $placeHolder.addClass( 'element-invisible' );
                $( '#filePicker2' ).removeClass( 'element-invisible');
                $queue.parent().addClass('filled');
                $queue.show();
                $statusBar.removeClass('element-invisible');
                uploader.refresh();
                break;

            case 'uploading':
                $( '#filePicker2' ).addClass( 'element-invisible' );
                $progress.show();
                img_upload.text( '暂停上传' );
                break;

            case 'paused':
                $progress.show();
                img_upload.text( '继续上传' );
                break;

            case 'confirm':
                $progress.hide();
                img_upload.text( '开始上传' ).addClass( 'disabled' );

                stats = uploader.getStats();
                if ( stats.successNum && !stats.uploadFailNum ) {
                    setState( 'finish' );
                    return;
                }
                break;
            case 'finish':
                stats = uploader.getStats();
                if ( stats.successNum ) {
                	common_success( '上传成功' );
                } else {
                    // 没有成功的图片，重设
                    state = 'done';
                    location.reload();
                }
                break;
        }

        updateStatus();
    }

    uploader.onUploadProgress = function( file, percentage ) {
        var img_li = $('#'+file.id),
            img_percent = img_li.find('.progress span');

        img_percent.css( 'width', percentage * 100 + '%' );
        percentages[ file.id ][ 1 ] = percentage;
        updateTotalProgress();
    };

    uploader.onFileQueued = function( file ) {
        fileCount++;
        fileSize += file.size;

        if ( fileCount === 1 ) {
            $placeHolder.addClass( 'element-invisible' );
            $statusBar.show();
        }
        addFile( file );
        setState( 'ready' );
        updateTotalProgress();
    };

    uploader.onFileDequeued = function( file ) {
        fileCount--;
        fileSize -= file.size;

        if ( !fileCount ) {
            setState( 'pedding' );
        }

        removeFile( file );
        updateTotalProgress();

    };

    uploader.on( 'all', function( type ) {
        var stats;
        switch( type ) {
            case 'uploadFinished':
                setState( 'confirm' );
                break;

            case 'startUpload':
                setState( 'uploading' );
                break;

            case 'stopUpload':
                setState( 'paused' );
                break;

        }
    });

    uploader.onError = function( code ) {
    	if (code == "F_DUPLICATE") {
    		code = "图片已在上传列表中";
    	} else if (code == "Q_EXCEED_NUM_LIMIT") {
    		code = "图片总数量超出限制";
    	} else if (code == "Q_EXCEED_SIZE_LIMIT") {
    		code = "图片总大小超出限制";
    	} else if (code == "F_EXCEED_SIZE") {
    		code = "图片大小超出限制";
    	}
        common_error( code );
    };

    img_upload.on('click', function() {
    	swal({
			title : "您确定要上传图片吗?",
			text : "上传后，需要再次进入本弹出页才能继续上传！",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "确定",
			cancelButtonText : "取消",
			closeOnConfirm : false
		}, function() {
			if ( $(this).hasClass( 'disabled' ) ) {
            return false;
        	}

	        if ( state === 'ready' ) {
	            uploader.upload();
	        } else if ( state === 'paused' ) {
	            uploader.upload();
	        } else if ( state === 'uploading' ) {
	            uploader.stop();
	        }
	        
	        $(".sa-button-container .cancel").click();
		});
    });

    img_info.on( 'click', '.retry', function() {
        uploader.retry();
    } );

    img_info.on( 'click', '.ignore', function() {
    } );

    img_upload.addClass( 'state-' + state );
    updateTotalProgress();
};
</script>