<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="modal inmodal" id="activityExtract-form-modal" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">×</button>
				<h5 id="modalHeaderMsg" class="modal-title"></h5>
			</div>
			<div class="modal-body">
				<form id="grid-thirdIpSearch-form">
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">活动名称：</div>
							<div class="profile-info-value form-group">
								<select class="input-large" name="actId" id="actId">
									#foreach($activityDTO in $actList)
									<option value="${activityDTO.actId}">${activityDTO.actName}
									</option> #end
								</select>
							</div>
							<div class="profile-info-name">提取码数量：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="activityExtractNum"
									id="activityExtractNum" placeholder="提取码数量" class="input-large"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')"
									maxlength="10">
							</div>
						</div>
						<div class="profile-info-row input-daterange">
							<div class="profile-info-name">课程名称：</div>
							<div class="profile-info-value form-group">
								<select class="chosen-select" name="lessonId" id="lessonId"
									onchange="lessonChange(this.value);">
									<option value="0">请选择课程</option> #foreach($publicDTO in
									$publicList)
									<option value="${publicDTO.lessonId}">${publicDTO.lessonName}
									</option> #end
								</select>
							</div>
							<div class="profile-info-name">有效期：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="validTime" id="validTime"
									placeholder="有效期" class="input-large form-control date-icon"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">课时名称：</div>
							<div class="profile-info-value form-group">
								<select class="chosen-select" name="classIds" id="classIds"
									multiple="multiple">
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary"
					onclick="createExtract()">保存</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// 表单提交
	function createExtract() {
		if (!$('#grid-thirdIpSearch-form').valid())
			return;

		var activityExtractNum = $('#activityExtractNum').val();
		if (isNaN(activityExtractNum)) {
			common_error("请填入数字");
			return;
		}
		if (activityExtractNum > 500 || activityExtractNum <= 0) {
			common_error("提取码数量不能小于等于0或大于500");
			return;
		}
		$.ajax({
			type : "POST",
			url : "${ctx.contextPath}/d-admin/actExtract/createExtract",
			data : $("#activityExtract-form-modal #grid-thirdIpSearch-form")
					.serialize(),
			dataType : "json",
			success : function(data) {
				if (data.success) {
					common_success("操作成功！");
					boostrapTableQueryParams();
					$("#activityExtract-form-modal").modal("hide");
				} else {
					common_error(data.errDesc);
				}
			},
			complete : function() {
			}
		});
	}

	function lessonChange(data) {

		var lessonId = data;
		$.ajax({
			type : "POST",
			url : "${ctx.contextPath}/d-admin/lesson/public/getById",
			data : "lessonId=" + lessonId,
			dataType : "json",
			success : function(data) {
				var classList = data.attrList;
				if (classList != null) {
					var html = "";
					for (var i = 0; i < classList.length; i++) {
						html += '<option value="' + classList[i].classId + '">'
								+ classList[i].className + '</option>';
					}
					$("#activityExtract-form-modal #classIds").html(html);
					$("#activityExtract-form-modal #classIds").trigger(
							"chosen:updated");
				}
			},
			complete : function() {
				isEditInitFormSub = false;
			}
		});
	}

	// form表单校验
	function judgeVerification() {
		var icon = "<i class='fa fa-times-circle'></i> ";
		$('#activityExtract-form-modal #grid-thirdIpSearch-form').validate({
			rules : {
				lessonId : {
					required : true
				},
				classIds : {
					required : true
				},
				activityExtractNum : {
					required : true,
					positive : "#activityExtract-form-modal #activityExtractNum"
				},
				validTime : {
					required : true
				}
			},

			messages : {
				lessonId : {
					required : icon + "请选择课程！"
				},
				classIds : {
					required : icon + "请选择至少一个课时！"
				},
				activityExtractNum : {
					required : icon + "请输入提取码数量！"
				},
				validTime : {
					required : icon + "请输入有效期！"
				},
			}
		});
	};
</script>