<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="modal inmodal" id="activity-form-modal" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">×</button>
				<h5 id="modalHeaderMsg" class="modal-title"></h5>
			</div>
			<div class="modal-body">
				<form id="grid-thirdIpSearch-form">
					<input type="hidden" id="actId" name="actId" />
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">活动名称：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="actName" id="actName"
									placeholder="活动名称" class="input-large"
									maxlength="100">
							</div>
							<div class="profile-info-name">活动编码：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="actCode" id="actCode"
									placeholder="活动编码" class="input-large"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')"
									maxlength="30">
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">活动说明：</div>
							<div class="profile-info-value form-group">
								<textarea id="actExplain" name="actExplain"
									style="float: left; width: 100%; height: 120px;" maxlength="1000"></textarea>
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row input-daterange">
							<div class="profile-info-name">开始时间：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="beginTime" id="beginTime"
									placeholder="开始时间" class="input-large form-control date-icon"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</div>
							<div class="profile-info-name">结束时间：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="endTime" id="endTime"
									placeholder="结束时间" class="input-large form-control date-icon"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">活动类型：</div>
							<div class="profile-info-value form-group">
								<select class="input-large" name="actType" id="actType">
									<option value="1">提取码活动</option>
								</select>
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-name">扩展配置：</div>
						<div class="profile-info-value form-group">
							<textarea id="expandConfig" name="expandConfig"
									style="float: left; width: 100%; height: 120px;" 
									maxlength="1000">
							</textarea>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">备注：</div>
							<div class="profile-info-value form-group">
								<textarea id="memo" name="memo"
									style="float: left; width: 100%; height: 120px;"
									maxlength="1000">
								</textarea>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary"
					onclick="saveOrUpdate()">保存</button>
			</div>
		</div>
	</div>
</div>
<script src="${ctx.contextPath}/js/wangEditor.js"></script>
<script type="text/javascript">
	// 表单提交
	function saveOrUpdate() {

		if (!$('#grid-thirdIpSearch-form').valid())
			return;

		$.ajax({
			type : "POST",
			url : "${ctx.contextPath}/d-admin/act/saveOrUpdateAct",
			data : $("#activity-form-modal #grid-thirdIpSearch-form")
					.serialize(),
			dataType : "json",
			success : function(data) {
				if (data.success) {
					common_success("操作成功！");
					boostrapTableQueryParams();
				} else {
					common_error(data.errDesc);
				}
				$("#activity-form-modal").modal("hide");
			},
			complete : function() {
			}
		});
	}
	
	// form表单校验
	function judgeVerification() {
		var icon = "<i class='fa fa-times-circle'></i> ";
		$('#activity-form-modal #grid-thirdIpSearch-form').validate({
			rules : {
				actName : {
					required : true
				},
				actCode : {
					required : true
				},
				beginTime : {
					required : true
				},
				endTime : {
					required : true
				}
			},

			messages : {
				actName : {
					required : icon + "请输入活动名称！"
				},
				actCode : {
					required : icon + "请输入活动编码！"
				},
				beginTime : {
					required : icon + "请输入开始时间！"
				},
				endTime : {
					required : icon + "请输入结束时间！"
				},
			}
		});
	};
</script>