<!DOCTYPE html>
<html>
<head>
<title>运营活动提取码管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("./include/commonCss.html")
<link href="${ctx.contextPath}/hplus/css/plugins/chosen/chosen.css"
	rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInUp">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>活动提取码列表</h5>
							<div class="ibox-tools">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<!-- 	<div class="alert alert-success alert-dismissable">
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
								可双击订单所在行，可查看订单详情。
							</div> -->
							<form id="grid-search-form">
								<!-- 订单类型 -->
								<input type="hidden" id="orderType" name="orderType" />
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name">活动名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="actName" id="actName"
												placeholder="活动名称" class="input-large"
												maxlength="250" >
										</div>
										<div class="profile-info-name">学生账号：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="loginAccount" id="loginAccount"
												placeholder="学生账号" class="input-large"
												maxlength="30" >
										</div>
										<div class="profile-info-name">课程名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="lessonName" id="lessonName"
												placeholder="课程名称" class="input-large"
												maxlength="60">
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">使用状态：</div>
										<div class="profile-info-value form-group">
											<select name="useStatus" id="useStatus"
												placeholder="使用状态" class="input-large">
												<option value="0">全部</option>
												<option value="1">未使用</option>
												<option value="2">已使用</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<div class="btn-group hidden-xs" id="tableEventsToolbar"
								role="group">
								<button type="button" onClick="addInitForm()" title="添加"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-search-btn" title="搜索"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-reset-btn" title="重置"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-zhongzhi"></use>
									</svg>
								</button>
								<button type="button" id="grid-search-btn" title="导出"
									class="btn btn-outline btn-default" onClick="exportFile()">
									<i class="glyphicon glyphicon-download" aria-hidden="true"></i>
								</button>
							</div>
							<table id="activityExtractTable" data-mobile-responsive="false">
								<thead>
									<tr>
										<th data-formatter="boostrapTableSortFormatter">序号</th>
										<th data-field="configId" data-visible="false">配置ID</th>
										<th data-field="actId" data-visible="false">活动ID</th>
										<th data-field="actName">活动名称</th>
										<th data-field="lessonName">课程名称</th>
										<th data-field="classIds">课时IDS</th>
										<th data-field="extractCode">提取码</th>
										<th data-field="loginAccount">学生账号</th>
										<th data-field="userIp" data-visible="false">用户IP地址</th>
										<th data-field="createTime">创建时间</th>
										<th data-field="useTime">使用时间</th>
										<th data-field="validTimeStr">有效期</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("./include/commonJs.html")
	#parse("./act/form/activityExtract_form.html")
	<script
		src="${ctx.contextPath}/hplus/js/plugins/chosen/chosen.jquery.min.js"></script>
</body>
<script>
	$(function() {
		judgeVerification();
		
		$('#grid-thirdIpSearch-form #validTime').datetimepicker({
			language : 'zh-CN',
			todayBtn : true,
			clearBtn : true,
			autoclose : true,
			format : "yyyy-mm-dd",
			minView : "month"
		});

		poundageConfigPagin();
		initChosenSelect();
	})
	
	function initChosenSelect(){
		$('.chosen-select').chosen({
			allow_single_deselect : true
		});
		$(window).off('resize.chosen').on('resize.chosen', function() {
			$('.chosen-select').each(function() {
				var $this = $(this);
				$this.next().css({
					'width' : 210
				});
			})
		}).trigger('resize.chosen');
		
		$('#classIds').chosen({
			allow_single_deselect : true
		});
		$(window).off('resize.chosen').on('resize.chosen', function() {
			$('#classIds').each(function() {
				var $this = $(this);
				$this.next().css({
					'width' : 500
				});
			})
		}).trigger('resize.chosen');
	}

	function poundageConfigPagin() {
		bingdUrserTableParams = jQuery.extend({}, boostrapTableParams); // 表单中的table参数
		// table分页参数配置
		boostrapTableParams.url = "${ctx.contextPath}/d-admin/actExtract/findPaging";
		$("#activityExtractTable").bootstrapTable(boostrapTableParams);
		initGridSearch(); // 初始化grid搜索
	}

	// bootstrap-table分页查询时的参数封装
	function boostrapTableQueryParams(params) {
		if (isEmpty(params)) { // 点击搜索按钮时
			var options = $("#activityExtractTable").bootstrapTable(
					'getOptions');
			$("#activityExtractTable").bootstrapTable('refreshOptions', {
				pageNumber : 1,
				sortName : ""
			});
		} else { // 点击分页时
			return boostrapTableSearchParams("grid-search-form", params);
		}
	}

	//点击新增按钮，初始化弹出页面
	function addInitForm() {
		$('.form-group').removeClass('has-error');
		$('span[class*=help-block]').remove();
		emptyDivInputValue('activityExtract-form-modal');
		$('#activityExtract-form-modal #modalHeaderMsg').text('新增活动提取码');
		$("#activityExtract-form-modal").modal("show");
		
		$("#activityExtract-form-modal #lessonId").trigger("chosen:updated");
		$("#activityExtract-form-modal #classIds").trigger("chosen:updated");
	}

	function exportFile() {
		ajaxFormExport("grid-search-form", "${ctx.contextPath}/d-admin/actExtract/exportExtractCode", true);
	}

	// 导出提交
	function ajaxFormExport(formId, url, loadingStyle) {
		var $form = $("#" + formId);
		// 		$form.attr("async", false);
		$form.attr("action", url);
		$form.submit();
	}
</script>
</html>
