<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="modal inmodal" id="tutor-form-modal" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">×</button>
				<h4 id="modalHeaderMsg" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form id="form-edit" class="form-horizontal">
					<input type="hidden" id="tutorId" name="tutorId" />
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">导师薪资(美分)：</div>
							<div class="profile-info-value form-group">
								<input type="text" name="tutorSalary" id="tutorSalary"
									placeholder="导师薪资" class="input-large"
									onkeyup="this.value=this.value.replace(/^ +| +$/g,'')" onchange="changeSalary();"
									maxlength="15">
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">调账说明：</div>
							<div class="profile-info-value form-group">
								<textarea id="changeExplain" name="changeExplain" 
								style="float: left; width: 100%; height: 120px;"
								maxlength="1000"></textarea>
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">导师备注：</div>
							<div class="profile-info-value form-group">
								<textarea id="tutorRemark" name="tutorRemark"
								style="float: left; width: 100%; height: 120px;"
								maxlength="1000"></textarea>
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name">导师战绩：</div>
							<div class="profile-info-value form-group">
								<textarea id="tutorRecord" name="tutorRecord"
								style="float: left; width: 100%; height: 120px;"
								maxlength="1000"></textarea>
							</div>
						</div>
					</div>
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
                            <div class="profile-info-name">合同：</div>
                            <div class="profile-info-value form-group">
                            	<div id="contractFileDiv" class="input-xlarge"></div>
                            </div>
	                    </div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary"
					onClick="formSubmit();">保存</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var changeS = false;
	function changeSalary(){
		changeS = true;
	}
	// 表单提交
	var isFormSubmit = false;
	function formSubmit() {
		if (isFormSubmit)
			return;

		if (!$('#form-edit').valid()) {
			common_error("数据不完善");
			return;
		}
			
		var tutorSalary = $("#form-edit #tutorSalary").val();
		if (isNaN(tutorSalary)) {
			common_error("导师薪资请填写数字");
			return;
		}

		if(changeS){
			var explain = $("#changeExplain").val();
			if (explain == null || explain == "") {
				common_error("请输入调账说明");
				return;
			}
		}
		
		isFormSubmit = true;
		$("#mask").show();
		var url = "${ctx.contextPath}/d-admin/mem/tutor/updateTutor";
		// 提交表单
		$("#tutor-form-modal #form-edit").ajaxSubmit({
			url: url,
			async : false,
			timeout : 500000,
			type : "POST",
			dataType: "json",
			success : function(data, status) {
				if (data.success) {
					common_success("保存成功！");
					$("#tutor-form-modal").modal("hide");
					boostrapTableQueryParams(); // 刷新列表
                } else {
                    common_error(data.errDesc);
                }
			},
			complete : function() {
				isFormSubmit = false;
				changeS = false;
				$("#mask").hide();
			}
		});
	}
	
	// form表单校验
	function judgeVerification() {
		var icon = "<i class='fa fa-times-circle'></i> ";
		$('#tutor-form-modal #form-edit').validate({
			rules : {
				tutorSalary : {
					required : true,
					positive : "#tutor-form-modal #tutorSalary"
				}
			},

			messages : {
				tutorSalary : {
					required : icon + "请输入导师薪资！"
				}
			}
		});
	};
</script>