<!DOCTYPE html>
<html>
<head>
<title>定制课课程管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#parse("./include/commonCss.html")
	<style>
		.form-group-item {
			position: relative;
		}
		.form-group-item > input{
			position: absolute;
			top: 4px;
			left: 25px;
		}
	</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInUp">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>定制课课程列表</h5>
							<div class="ibox-tools">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<form id="grid-search-form">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name">课程名称：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="lessonName" placeholder="课程名称"
												class="input-large" maxlength="120">
										</div>
										<div class="profile-info-name">课程分类：</div>
										<div class="profile-info-value form-group">
											<select class="input-large" name="lessonType">
												<option value="0">全部</option>
												<option value="1">定制课</option>
												<option value="2">实习课</option>
											</select>
										</div>
										<div class="profile-info-name">所属行业：</div>
										<div class="profile-info-value form-group">
											<select class="input-large" name="industryId" id="industryId">
												<option value="0">全部</option>
												#foreach($industryDTO in $industryList)
												<option value="${industryDTO.industryId}">${industryDTO.industryName}
												</option> #end
											</select>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">用户账号：</div>
										<div class="profile-info-value form-group">
											<input type="text" name="loginAccount" placeholder="用户账号"
												class="input-large" maxlength="30">
										</div>
										<div class="profile-info-name">开始时间：</div>
										<div class="profile-info-value form-group form-group-item">
											<input type="text" id="beginTime" name="beginTime"
												placeholder="开始时间"
												class="input-large form-control date-icon">
										</div>
										<div class="profile-info-name">结束时间：</div>
										<div class="profile-info-value form-group form-group-item">
											<input type="text" id="endTime" name="endTime"
												placeholder="结束时间"
												class="input-large form-control date-icon">
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">支付状态：</div>
										<div class="profile-info-value form-group">
											<select class="input-large" name="payStatus" id="payStatus">
												<option value="0">全部</option>
												<option value="1">未付款</option>
												<option value="2">已付款</option>
												<option value="4">已退款</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<div class="btn-group hidden-xs" id="tableEventsToolbar"
								role="group">
								<button type="button" onClick="addLessonImport()" title="定制课新增导入"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
											    <use xlink:href="#icon-shenpi"></use>
											</svg>
								</button>
								<button type="button" onClick="addInitForm()" title="添加"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="editLessonImport()" title="定制课编辑导入"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
											    <use xlink:href="#icon-shenpi"></use>
											</svg>
								</button>
								<button type="button" onClick="editInitForm()" title="编辑"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="detailsInitForm()" title="查看课程详情"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true"> <use
											xlink:href="#icon-icon2"></use></svg>
									<i class="iconfont icon-quanxiantianjia" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="buyLesson()" title="生成订单"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-yen" aria-hidden="true"></i>
								</button>
								<button type="button" onClick="watchVideo()" title="查看视频"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
											    <use xlink:href="#icon-tongbusynchronize4"></use>
											</svg>
								</button>
								<button type="button" id="grid-search-btn" title="搜索"
									class="btn btn-outline btn-default">
									<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
								</button>
								<button type="button" id="grid-reset-btn" title="重置"
									class="btn btn-outline btn-default">
									<svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-zhongzhi"></use>
                                </svg>
								</button>
							</div>
							<table id="lesson" data-mobile-responsive="false">
								<thead>
									<tr>
										<th data-radio="true"></th>
										<th data-formatter="boostrapTableSortFormatter">序号</th>
										<th data-field="lessonId" data-visible="false">课程ID</th>
										<th data-field="userId" data-visible="false">用户ID</th>
										<th data-field="lessonName">课程名称</th>
										<th data-field="lessonTypeStr">课程分类</th>
										<th data-field="industry">行业</th>
										<th data-field="totalClass" data-visible="false">总课时(分钟)</th>
										<th data-field="finishClass" data-visible="false">已完成课时(分钟)</th>
										<th data-field="lessonPriceStr">课程价格(元)</th>
										<th data-field="loginAccount">用户</th>
										<th data-field="beginTime">开始时间</th>
										<th data-field="endTime">结束时间</th>
										<th data-field="buyTime">购买时间</th>
										<th data-field="orderCode" data-visible="false">订单编码</th>
										<th data-field="payStatusStr" data-visible="false">支付状态</th>
										<th data-field="createTime" data-visible="false">创建时间</th>
										<th data-field="createOp" data-visible="false">创建人</th>
										<th data-field="modifyTime" data-visible="false">修改时间</th>
										<th data-field="modifyOp" data-visible="false">修改人</th>
									</tr>
								</thead>
							</table>
							<div class="modal inmodal" id="batch-form-modal" role="dialog"
								aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button class="close" data-dismiss="modal" type="button">×</button>
											<h4 id="modalHeaderMsg" class="modal-title">定制课程编辑导入</h4>
										</div>
										<div class="modal-body">
											<form id="batch-form-edit" class="form-horizontal">
												<input type="hidden" id="editLessonId" name="editLessonId" />
												<div class="profile-user-info profile-user-info-striped">
													<div class="profile-info-row">
														<div class="profile-info-name">表格导入：</div>
														<div class="profile-info-value form-group">
															<div style="width: 80%;">
																<input type="file" name="lessonCustomExcel" id="lessonCustomExcel" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
															</div>
															<a id="lessonImportTemp" href="${ctx.contextPath}/template/lessonAddTemplate.xlsx" target="_blank" style="float: right; font-size: large; margin-right: 30px; margin-top: -65px;"><span>模板下载</span></a>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary" onClick="batchFormSubmit();">提交</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal inmodal" id="batch-result-modal" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button class="close" data-dismiss="modal" type="button">×</button>
											<h4 id="modalHeaderMsg" class="modal-title">导入返回结果</h4>
										</div>
										<div class="modal-body" id="batch-result-div" style="overflow-y: scroll;height:300px;">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
										</div>
									</div>
								</div>
							</div>
													
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	#parse("./include/commonJs.html")
	#parse("./lesson/form/lessonCustom_form.html")
	<script src="${ctx.contextPath}/hplus/js/plugins/chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/js/ace/ace.min.js"></script>
	<script type="text/javascript" src="${ctx.contextPath}/js/ace/ace-elements.min.js"></script>
</body>
<script>
	$(document).ready(function() {
		// table分页参数配置
		boostrapTableParams.url = "${ctx.contextPath}/d-admin/lesson/custom/findPaging";
		$("#lesson").bootstrapTable(boostrapTableParams);

		initGridSearch(); // 初始化grid搜索
		
		$('#grid-search-form #beginTime').datetimepicker({
	        language:  'zh-CN',
	        todayBtn:  true,
	        clearBtn: true,
	        autoclose: true,
	        format:"yyyy-mm-dd",
 	        minView: "month"
	    });
		$('#grid-search-form #endTime').datetimepicker({
	        language:  'zh-CN',
	        todayBtn:  true,
	        clearBtn: true,
	        autoclose: true,
	        format:"yyyy-mm-dd",
 	        minView: "month"
	    });
	});


	// bootstrap-table分页查询时的参数封装
	function boostrapTableQueryParams(params) {
		if (isEmpty(params)) { // 点击搜索按钮时
			var options = $("#lesson").bootstrapTable('getOptions');
			$("#lesson").bootstrapTable('refreshOptions', {
				pageNumber : 1,
				sortName : ""
			});
		} else { // 点击分页时
			return boostrapTableSearchParams("grid-search-form", params);
		}
	}
	
	// 课程新增导入
	function addLessonImport() {
		// 初始化上传文件
		$("#batch-form-edit #editLessonId").val("");
		$("#batch-form-edit #lessonImportTemp").attr("href", "${ctx.contextPath}/template/lessonAddTemplate.xlsx");
		initExcelFileDropzone();
		$("#batch-form-modal #modalHeaderMsg").html("定制课程新增导入");
		$("#batch-form-modal").modal("show");
		$("#batch-form-modal .remove").click();
	}
	
	// 课程编辑导入
	function editLessonImport() {
		var selections = $("#lesson").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要编辑的课程！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个课程编辑！");
			return;
		}
		var lessonId = selections[0].lessonId;
		$("#batch-form-edit #editLessonId").val(lessonId);
		$("#batch-form-edit #lessonImportTemp").attr("href", "${ctx.contextPath}/template/lessonEditTemplate.xlsx");
		// 初始化上传文件
		initExcelFileDropzone();
		$("#batch-form-modal #modalHeaderMsg").html("定制课程编辑导入");
		$("#batch-form-modal").modal("show");
		$("#batch-form-modal .remove").click();
	}

	//初始化表格上传框
	function initExcelFileDropzone() {
		$("input[type=file]").ace_file_input({
			style : 'well',
			btn_choose : '请点击上传表格',
			btn_change : null,
			droppable : false,
			thumbnail : 'large',
			whitelist : 'xls|xlsx',
			allowExt : ['xls', 'xlsx'],
			before_remove : function() {
				return true;
			},
			preview_error : function(filename, error_code) {

			}
		}).on('change', function() {

		});
	};
	
	//批量文件表单提交
	var isBatchFormSubmit = false;
	function batchFormSubmit() {
		if (isBatchFormSubmit)
			return;
		var lineExcel = $("#lessonCustomExcel").val()
		if(isEmpty(lineExcel)){
			swal("请先上传文件","error");
			return;
		}
		if (!$('#batch-form-edit').valid())
			return;

		// 提交表单
		swal({
			title : "您确定要提交定制课程表单吗",
			text : "提交后也可编辑！",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "提交",
			closeOnConfirm : false
		}, function() {
			isBatchFormSubmit = true;
			$("#batch-form-modal #batch-form-edit").ajaxSubmit({
				url : "${ctx.contextPath}/d-admin/lesson/custom/ImportLesson",
				async : false,
				timeout : 500000,
				type : "POST",
				dataType : "json",
				success : function(data) {
					if (data.success) {
						var result = data.result;
						var eDesc = "";
						for (var i = 0; i < result.length; i++) {
							eDesc += "<h4>" + result[i].errorMsg + "<h4>";
						}
						if(eDesc == null ||eDesc == undefined ||eDesc == ""){
							swal("提交表单成功！", "导入成功！请查看！", "success");
						}else{
							swal.close()
							$("#batch-result-div").html(eDesc);
							$("#batch-result-modal").modal("show");
						}
						$("#batch-form-modal").modal("hide");
						boostrapTableQueryParams(); // 刷新列表
					} else {
						common_error(data.errDesc);
					}
				},
				complete : function() {
					isBatchFormSubmit = false;
				}
			});
		});
	}
	
	// 添加时表单初始化
	function addInitForm() {
		window.location.href = "${ctx.contextPath}/d-admin/lesson/custom/addInitForm";
	}

	// 课程详情
	var isDetailsInitFormSub = false;
	function detailsInitForm() {
		if (isEditInitFormSub)
			return;
		var selections = $("#lesson").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要查看的课程！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个课程查看！");
			return;
		}

		var lessonId = selections[0].lessonId;
		var url = "${ctx.contextPath}/d-admin/lesson/custom/viewInitForm?lessonId="
				+ lessonId;
		window.location.href = url;
	}

	// 编辑时表单初始化
	var isEditInitFormSub = false;
	function editInitForm() {
		if (isEditInitFormSub)
			return;

		var selections = $("#lesson").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要编辑的课程！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个课程编辑！");
			return;
		}
		// 总课时等于已完成课时，不可编辑
		if(selections[0].totalClass==selections[0].finishClass){
			common_error("课程已完成，不可编辑！");
			return;
		}

		var lessonId = selections[0].lessonId;
		var url = "${ctx.contextPath}/d-admin/lesson/custom/editInitForm?lessonId="
				+ lessonId;
		window.location.href = url;
	}

	// 购买网课
	function buyLesson() {

		var selections = $("#lesson").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要购买的课程！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个课程购买！");
			return;
		}

		var lessonId = selections[0].lessonId;
		var lessonName = selections[0].lessonName;
		var lessonPriceStr = selections[0].lessonPriceStr;
		
		if (selections[0].buyTime != null) {
			common_error("课程已售！");
			return;
		}
		$('.form-group').removeClass('has-error');
		$('span[class*=help-block]').remove();
		$("#buy-form #lessonId").val(lessonId);
		$("#buy-form #lessonName").val(lessonName);
		$("#buy-form #lessonPriceStr").val(lessonPriceStr);
		$("#buy-form #orderNote").val("");
		$("#buy-form-modal").modal("show");
	}
	
	
	var isDetailsInitFormSub = false;
	function watchVideo() {
		if (isEditInitFormSub)
			return;
		
		var selections = $("#lesson").bootstrapTable('getSelections');
		if (isEmpty(selections)) {
			common_error("请先选择要查看的课程！");
			return;
		}
		if (selections.length > 1) {
			common_error("只能选择一个课程查看！");
			return;
		}

		var lessonId = selections[0].lessonId;
		var url = "${ctx.contextPath}/d-admin/lesson/custom/watchVideo?lessonId="
				+ lessonId;
		window.location.href = url;
	}
</script>
</html>
